---
BasedOnStyle: Microsoft
AlignOperands: 'true'
BreakBeforeBinaryOperators: All
Language: Cpp
NamespaceIndentation: All
PointerAlignment: Right
SpaceAfterLogicalNot: 'true'
SpaceAfterTemplateKeyword: 'true'
SpaceBeforeParens: Always
SpaceBeforeRangeBasedForLoopColon: 'false'
SpaceInEmptyParentheses: 'false'
SpacesInAngles: 'false'
SpacesInParentheses: 'false'
SpacesInSquareBrackets: 'true'
Standard: Auto
UseTab: Always

...